
$light-red: #ff5757;
$orangey-yellow: #ffb01f;
$green-teal: #00bd91;
$cobalt-blue: #1125d4;

$pale-light-red: #FFF6F5;
$pale-orangey-yellow: #FFFBF2;
$pale-green-teal: #F2FBFA;
$pale-cobalt-blue: #F3F3FD;

// background gradient

$light-slate-blue: #7857ff;
$light-royal-blue: #2e2be9;

// circle gradient
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

$white: #ffffff;
$pale-blue: #ebf1ff;
$light-lavender: #c8c7ff;
$dark-gray-blue: #303b5a;
$light-gray:#939CA5;

$HankenGrotesk:'HankenGrotesk', sans-serif;
