* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
button,
ul,div,li {
  margin: 0;
  padding: 0;
}
h1,h2,
h3,
h4,
h5,
h6,
hr,
p,
button,
ul,li,a,div {
   font-family: $HankenGrotesk;
}

img {
  max-width: 100%;
}